:root {
	--font-googleGugi: "googleGugi";
	--font-googleSingleDay: "googleSingleDay";
	--color-text-white: #fffff0;
	--color-lightgray: #778899;
	--color-mainpurple: #8a2be2;
	--color-magentapurple: #ff00ff;
	--color-deeppurple: #4b0082;
	--color-middlepurple: #9370db;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", "googleFont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
@font-face {
	font-family: "googleGugi";
	src: url(./assets/fonts/Gugi/Gugi-Regular.ttf);
}

@font-face {
	font-family: "googleSingleDay";
	src: url(./assets/fonts/Single_Day/SingleDay-Regular.ttf);
}
